<div class="palm-hasheader">
	<div class="palm-header">
		SongSpy
	</div>
</div>

<div class="palm-header-spacer"></div>

<div id='recordButton'></div>
<div id='spinner' x-mojo-element='Spinner' style='position: absolute; top: 140px; left: 95px;'></div>

<div id='text-update' style='height: 80px; margin: 0px 100px; font-size: 24px; display: none'></div>

<div x-mojo-element="Button" id="" style='display:none' class="recordButton" name="startButton"></div>
<div x-mojo-element="Button" id="playButton" style='display:none'class="buttonClass" name="playButton"></div>  